@import url("fonts.css");
@import url("floting-input.css");

body{
  font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
}



/*profile photo css start*/

.hexa, .hexa div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.hexa {
  width: 100px;
  height: 40px;
}
.hexa div {
  width: 70%;
  height: 100%;
}
.hexa {
  transform: rotate(120deg);
}
.hex1 {
  transform: rotate(-60deg);
}
.hex2 {
  transform: rotate(-60deg);
}

.part {
      padding: 0px;
    width: 50px;
    position: relative;
    left: -20px;
}
.part:nth-of-type(2n) {
  background: #F2E6A7;
  color: #CDAE51
}

.hexa img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
}




/*profile css end*/


.btn-hexagon {
    margin: 20px auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding: 5px 21px;
    text-align: center;
    color: #FD9833;
    border-color: #E4E6EB;
    background: transparent;
    box-shadow: -1px -1px 5px rgba(219, 219, 219, 0.9), 5px 5px 10px rgba(191, 207, 223, 0.9), -5px -5px 10px rgba(248, 248, 248, 0.9);
    border-radius: 27px;
    border-style: double;
  }


.btn-circular {
    display: block;
    min-width: 140px;
    margin: 15px;
    border-radius: 15px;
    background: radial-gradient(113.04% 195.79% at 50.52% 143.93%, #E4E6EB 0%, #F0F1F4 100%);
    box-shadow: -1px -1px 5px rgba(219, 219, 219, 0.9), 5px 5px 20px rgba(191, 207, 223, 0.9), -5px -5px 10px rgba(248, 248, 248, 0.9);
    border-color: transparent;
    color: #46829D;
}



button:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.sidebar-brand-text .user-name {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    text-transform: capitalize;
}

.sidebar-brand .user-email {
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 300;
    max-width: 170px;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-logo {
    text-align: center;
}

.company-logo img {
    width: 20%;
    margin: auto;
    text-align: center;
}


.topbar {
    height: 4.375rem;
    background: #E9EAEF;
    border: 1px solid #CFD0D8;
    box-sizing: border-box;
    box-shadow: 0px 9px 20px rgba(191, 207, 223, 0.9) !important;
}


.btn-link {
    font-weight: 400;
    color: #14465F;
    text-decoration: none;
}

.bell-icon .fa-bell {
    font-size: 2.5rem;
    color: #FD9833;
}


.page-heading-center {
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    text-shadow: -1px -1px 0 #E9EAEF;
}


.sidebar.sidebar-dark {
    background: radial-gradient(113.04% 195.79% at 50.52% 143.93%, #E4E6EB 0%, #F0F1F4 100%);
}

.sidebar-dark .sidebar-brand {
    color: #fff;
    background: #14465F;
        padding: 10px;
}

.sidebar .nav-item {
  position: relative;
  background: radial-gradient(113.04% 195.79% at 50.52% 143.93%, #E4E6EB 0%, #F0F1F4 100%);
  box-shadow: -10px -10px 20px rgba(248, 248, 248, 0.9), 9px 9px 20px rgba(191, 207, 223, 0.9), -1px -1px 5px rgba(219, 219, 219, 0.9);
  border-radius: 15px;
  margin: 13px 20px;
}

.sidebar .nav-item:hover, .sidebar .nav-item.active {
    background: #14465F;
}

.sidebar-dark .nav-item .nav-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #46829D;
  font-weight: 600;
  width: 100%;
      padding: 0.9rem;
}

.sidebar-dark .nav-item .nav-link i {
    color: #46829D;
}

.sidebar-dark #sidebarToggle {
  margin-top: 20px;
  background: radial-gradient(113.04% 195.79% at 50.52% 143.93%, #E4E6EB 0%, #F0F1F4 100%);
  box-shadow: -10px -10px 20px rgba(248, 248, 248, 0.9), 9px 9px 20px rgba(191, 207, 223, 0.9), -1px -1px 5px rgba(219, 219, 219, 0.9);  
}

.sidebar-dark #sidebarToggle:after {
  color: #14465F;
}

.sidebar-dark #sidebarToggle:hover {
  background: #14465F;
}

.sidebar-dark #sidebarToggle:hover:after {
  color: #fff;
}



.card.outer-card > .card-body {
    padding: 1.25rem;
}

.card-head {
    font-size: 20px;
}

.right-card .card-head {
    text-align: center;
    width: 100%;
    margin: 20px;
}

.right-card .inner-card-block {
    margin-bottom: 3.6rem !important;
}

.inner-card-block p {
    margin-bottom: 0px;
}


.heading-center {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #46829D;
}


/*hexagon home page start*/

.main-wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0.1em auto;
  text-align: center;
}

.hex {
  position: relative;
  margin: 1.5em 2em;
  width: 4em;
  height: 6.2em;
  border-radius: 10px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
  background: #E4E6EB;
  box-shadow: -10px -10px 20px rgba(248, 248, 248, 0.9), 9px 9px 20px rgba(191, 207, 223, 0.9), -1px -1px 5px rgba(219, 219, 219, 0.9);
}


.hex:before, .hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.hex:before {
  transform: rotate(60deg);
}
.hex:after {
  transform: rotate(-60deg);
}
.hex:hover {
  top: -4px;
}
.hex .circle {
  width: 60px;
  height: 60px;
  position: absolute;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.hex .circle i.fa {
  font-size: 2em;
  margin-top: 8px;
}
.hex .font {
  display: inline-block;
  margin-top: 1em;
}
.hex .content {
    position: relative;
    border-radius: 4px;
    padding: 5px 5px 4px;
    width: 120px;
    z-index: 11;
    color: red;
    left: -30px;
    height: 100px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    display: table;
}

.hex .content .head {
        display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FD9833;
    text-transform: capitalize;
}

/*home page hex start*/

.main-wrapper.home-hex {
    position: relative;
    top: 70px;
    min-height: 230px;
}

.home-hex .hex {
    margin: 1.5em 3em;
    width: 5em;
    height: 8.2em;
    
}

.home-hex .hex:nth-child(even) {
    position: relative;
    top: -90px;
}

.home-hex .hex .content {
    width: 145px;
    height: 135px;
}

.home-hex .hex .content .head .hex-head{
font-weight: 600;
font-size: 16px;
color: #FD9833;
}
.home-hex .hex .content .head p {
    font-size: 12px;
    font-weight: 400;
    color: #46829D;
    margin: 0px;
}



/*home page hex end*/

/*loan information hex css start*/

.loan-information .hex:hover, .loan-information .hex:active, .loan-information .hex:focus{
    background: #F99539;
    color: #fff;
}

.loan-information .hex:hover .head, .loan-information .hex:active .head, .loan-information .hex:focus .head{
  color: #fff;
}


.loan-information {
    padding: 20px;
}

.loan-information .form-group {
    width: 200px;
    margin: 0 auto 1rem auto;
    text-align:center;
}

.loan-information .form-control{
  background: #CFD0D8;
}

/*loan information hex css end*/


.form-control {
    background: #EBEDF1;
    box-shadow: -1px -1px 5px rgba(219, 219, 219, 0.9), 9px 9px 20px rgba(191, 207, 223, 0.9), -10px -10px 20px rgba(248, 248, 248, 0.9);
    border-radius: 10px;
    width: 100%;
}


.existing-loan-data .row {
    margin-top: 3%;
}

.existing-loan-data .left-block {
    float: right;
    padding-right: 5%;
}

.existing-loan-data .form-group {
    width: 52%;
    margin-bottom: 20px;

}

.existing-loan-data .left-block .form-group {
    float: right;
    display: block !important;
    top: 25%;
}



.container-fluid.payment-center {
    padding: 0% 10%;
}

.payment-center .btn-hexagon.right {
    position: absolute;
    right: 10%;
    top: 95px;
}


.payment-center .page-heading-center {
    padding-bottom: 20px;
}

@media(max-width: 1024px){

  .home-hex .hex:nth-child(even) {
    top: initial;
  }

  .main-wrapper.home-hex {
    top: initial;
  }

  .existing-loan-data .form-group {
    width: 75%;
  }

  .container-fluid.payment-center {
    padding: 0% 5%;
  }

  .btn-circular {
    display: inline;
    min-width: 125px;
    margin: 15px 5px;
   
  }
}

@media(max-width: 768px){
  .page-heading-center{
    font-size: 46px;
  }
  .sidebar {
    width: 15rem;
  }

  .sidebar .nav-item {
    margin: 5px 10px;
  }

  .sidebar-dark .nav-item .nav-link {
    padding: 0.5rem 0.5rem;
  }

  .inner-card-block {
    margin-bottom: 15px;
  }

  .company-logo img {
    width: 40%;
  }

  

  .right-card .inner-card-block {
    margin-bottom: 1rem !important;
  }

  .payment-center .btn-hexagon.right {
    right: 3%;
  }

  .payment-center .button-blocks {
    text-align: center;
    margin-bottom: 0px;
  }


}

@media(max-width: 767px){
   .company-logo img {
      width: 75%;
  }

  .page-heading-center {
    font-size: 32px;
    line-height: 1;
}

.existing-loan-data .row {
    margin-top: 10%;
}

.existing-loan-data .left-block .form-group {
    float: initial;
    display: block !important;
    top: 0px;
}

.existing-loan-data .form-group {
    width: 100%;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 13px;
 }

.payment-center .btn-hexagon.right {
    right: 0px;
    position: initial;
    top: 0px;
    text-align: center;
    margin-top: 0px;
}

}


/*hex of hex css*/
#hexcontainer {
  position:relative;
  margin:50px 0 35px 0;
  padding:20px 0;
    text-align:center;

}

.hex1, .hex2 {
  position:relative;
  display:inline-block;
  height:190px;
  width:165px;
  overflow:hidden;
}

.hex1 {
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  -o-transform:rotate(60deg);
  transform:rotate(60deg);
  margin:-20px 10px;
}

.hex2 {
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  -o-transform:rotate(60deg);
  transform:rotate(60deg);
}

.hexlink {
  -webkit-transform:rotate(-120deg);
  -moz-transform:rotate(-120deg);
  -ms-transform:rotate(-120deg);
  -o-transform:rotate(-120deg);
  transform:rotate(-120deg);
  position:relative;
  display:inline-block;
  text-decoration:none;
  height:190px;
  width:165px;
  background-position:center center;
  background-size:cover;
  background: #E4E6EB;

}

.hexcover {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:transparent;
  opacity:0.9;
}

.hexlink .content {
  position:absolute;
  top:50%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  width:100%;
  text-align:center;
  font-size:1.5em;
  
  cursor:pointer;
  opacity:1;
}


@-webkit-keyframes plusBump {
  0%    {width:4px; height:20px; left:18px; top:10px;}
  100%  {width:5px; height:25px; left:17.5px; top:7.5px;}
}
@-moz-keyframes plusBump {
  0%    {width:4px; height:20px; left:18px; top:10px;}
  100%  {width:5px; height:25px; left:17.5px; top:7.5px;}
}
@-o-keyframes plusBump {
  0%    {width:4px; height:20px; left:18px; top:10px;}
  100%  {width:5px; height:25px; left:17.5px; top:7.5px;}
}
@keyframes plusBump {
  0%    {width:4px; height:20px; left:18px; top:10px;}
  100%  {width:5px; height:25px; left:17.5px; top:7.5px;}
}

/*.hexlink:hover .hexcover {background-color:#C9CFD9;}*/

.hexlink h3 {color:#566676;}

.hexlink:hover .plus:before, .hexlink:hover .plus:after {
  background-color:#FFFFFF;
  -webkit-animation:plusBump 150ms ease 0.4s 4 alternate;
  -moz-animation:plusBump 150ms ease 0.4s 4 alternate;
  -o-animation:plusBump 150ms ease 0.4s 4 alternate;
  animation:plusBump 150ms ease 0.4s 4 alternate;
}


/* --- BOTTOM BLURB --- */


.notes {
  font-family:'Slabo 13px', sans-serif;
  font-weight:normal;
  color:#566676;
}

.notes a {
  text-decoration:none;
  font-family:'Slabo 13px', sans-serif;
  font-weight:normal;
  color:#D8334A;
}

.notes a:hover {color:#F8536A;}

.hexcover, .hexlink h3, .plus, .plus:before, .plus:after, .notes a {
  -webkit-transition-duration:0.3s;
  -moz-transition-duration:0.3s;
  -o-transition-duration:0.3s;
  transition-duration:0.3s;
}


/*-----hex on hex------*/
.container-fluid.loan-data-verification {
    overflow: auto;
}
.hexagon-wrapper{width:564px;height:564px;text-align:center;margin:20px;position:relative;display:inline-block;}
.hexagon{background-color:#ffffff;height:100%;width:calc(100% * 0.57735);display:inline-block;}
.hexagon:before, .hexagon:after{position:absolute;top:0;right:calc((100% / 2) - ((100% * 0.57735) / 2));background-color:inherit;height:inherit;width:inherit;content:'';}
.hexagon:before{transform: rotateZ(60deg);}
.hexagon:after{transform: rotateZ(-60deg);}
.innerHexaWrap{z-index:2;position:absolute;left:0;right:0;text-align:center;margin:0 auto;top:47%;transform:translateY(-50%);}
.marbtm{margin:0 -4px -60px;}
.hexlinkclr{position:relative!important;background:#ef7915;}
.hexlinkclr .content{z-index:99;}
.hexlinkclr .content p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #46829D;
}
.hexainner1,
.hexainner2,
.hexainner3{top:50%; left:0;right:0px;text-align:center;margin:0 auto;transform:translateY(-50%);position:absolute;background-color:#E4E6EB;border-radius:0px;width:159px;height:91px;box-sizing:border-box;transition:all 1s; 
border:0.5px solid transparent;}
.hexainner1:before, .hexainner1:after,
.hexainner2:before, .hexainner2:after,
.hexainner3:before, .hexainner3:after {content:"";border:inherit;position:absolute;top:-0.5px;left:-0.5px;background-color:#E4E6EB;border-radius:inherit;height:100%;width:100%;} 
.hexainner1:before,
.hexainner2:before,
.hexainner3:before{transform:rotate(60deg);} 
.hexainner1:after,
.hexainner2:after,
.hexainner3:after{transform: rotate(-60deg);} 
.hexainner2,
.hexainner3{border-radius:10px;width:127px;height:79px;border:0.4px solid transparent;z-index:1;box-shadow: 0px 0px 14px rgba(0,0,0,0.5);}
.hexainner2:before, .hexainner2:after,
.hexainner3:before, .hexainner3:after{box-shadow: 4px 0px 5px -6px rgba(0,0,0,0.5), -5px 0px 5px -6px rgba(0,0,0,0.5);} 
.hexainner3{width:106px;height:68px;}

.hexagon-wrapper .form-control {
    background: #CFD0D8;
    box-shadow: 1px 1px 5px rgba(169, 174, 180, 0.9), -1px -1px 5px rgba(219, 219, 219, 0.9), 1px 1px 5px rgba(191, 207, 223, 0.9), -1px -1px 5px rgba(248, 248, 248, 0.9);
    border-radius: 3px;
    width: 70px;
    padding: 5px;
    text-align: center;
    height: 20px;
    margin: 8px auto;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FD9833;
}

.hexagon-wrapper .btn-hexagon{
  padding: 1px 10px;
}